<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/style.css">
      <title>Fill in the boxes below for Dwight Library book recomendations!</title>
  </head>
  <body>
    <h1>Dwight Library Book Recommendor</h1>
    <form method="Post" action = "/results">
      <p>Action and Adventure</p>
      <input type="radio" name="genre" value="Action and Adventure">
      <p>Classics</p>
      <input type="radio" name="genre" value="Classics">
      <p>Dystopian Fiction</p>
      <input type="radio" name="genre" value="Dystopian Fiction">
      <br>
      <p>Graphic Format</p>
      <input type="radio" name="genre" value="Graphic Format">
      <br>
      <p>Historical Fiction</p>
      <input type="radio" name="genre" value="Historical Fiction">
      <br>
      <p>Humor</p>
      <input type="radio" name="genre" value="Humor">
      <br>
      <p>Mystery</p>
      <input type="radio" name="genre" value="Mystery">
      <br>
      <p>Realistic Fiction</p>
      <input type="radio" name="genre" value="Realistic Fiction">
      <br>
      <p>Relationships and Romance</p>
      <input type="radio" name="genre" value="Relationships and Romance">
      <br>
      <p>Sci-Fi and Fantasy</p>
      <input type="radio" name="genre" value="Sci-fi and Fantasy">
      <br>
      <p>Medicine</p>
      <input type="radio" name="genre" value="Medicine">
      <br>
      <p>Religion</p>
      <input type="radio" name="genre" value="Religion">
      <br>

        <input type = "submit">
    </form>
  </body>
</html>
